/* Import Montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

/* Apply Montserrat font to all text elements */
body, input, select, button {
  font-family: 'Montserrat', sans-serif;
}

.questionnaire-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #2B9348;
    border-radius: 20px;
    position: relative;
    top: 200px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

  }
  
  .question-card {
    background-color:#2B9348;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .question-card h2 {
    margin-top: 0;
    text-align: left;
  }
  
  .navigation-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  

  /* Styling for input fields */
input[type="text"],
input[type="number"],
input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Styling for dropdowns */
select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Optional: Hover and focus styles */
input[type="text"]:hover,
input[type="text"]:focus,
input[type="number"]:hover,
input[type="number"]:focus,
input[type="date"]:hover,
input[type="date"]:focus,
select:hover,
select:focus {
  border-color: #007bff;
  outline: none;
}

/* Optional: Styles for button */
button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

#submit{
    position: relative;
    left: 240px;
    background-color: #FF6B35;
}